@CHARSET "UTF-8";

/* 로딩이미지 */
.spinner{

    display:    none;
    position:   fixed;
    z-index:    2147483648;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .2 ) 
                url('/images/clikmng/mdm/spinner.gif') 
                50% 50% 
                no-repeat;
}